.header {
  border-radius: 12px 12px 0px 0px;
  background: var(--main-content);
  // box-shadow: 0px 3px 1.8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  
  mat-icon {
    cursor: pointer;
    color: var(--text-primary-color);
  }
  mat-toolbar {
    align-items: center;
    background: var(--main-content);;
    border-radius: 10px;
    .spacer {
      flex: 1 1 auto;
    }
    .select {
      padding: 5px;
      width: 175px;
      border-radius: 6px;
      border: 1px solid #F3F3EE;
    }
    label {
      margin-right: 5px;
      font-size: 15px;
    }
    .date {
      font-size: 9px;
      margin-top: 5px;
      text-align: center;
      padding-left: 12px;
    }
  }
}
