.answer-page {
  --mdc-circular-progress-active-indicator-color: var(--app-color);
  padding-bottom: 42px;
  height: calc(100% - 123px);
  overflow: auto;

  .answer-content {
    height: calc(100% - 100px);
    overflow: auto;
    padding: 0px 40px;
    padding-top: 30px;
  }

  &.follow-up-fixed {
    height: calc(100% - 250px);
  }

  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .questionHead {
    font-size: 18px;
    color: var(--text-primary-color);

    mat-icon {
      ::ng-deep path {
        fill: var(--icon-color-secondary);
      }
    }
  }

  .question {
    color: var(--text-primary-color);
    font-size: 25px;
    font-weight: 500;

    // cursor: pointer;
    // display: flex;
    // gap: 20px;
    // align-items: center;
    mat-icon {
      cursor: pointer;
      display: inline-flex;
      visibility: hidden;
      width: 20px;
      height: 20px;

      ::ng-deep path {
        fill: gray;
      }
    }

    /*  &:hover {
      mat-icon {
        visibility: visible;

        &:hover ::ng-deep path {
          fill: rgb(20, 20, 20);
        }
      }
    } */
  }

  .answer-blog {
    color: var(--text-secondary-color);

    .answerHead {
      mat-icon {
        ::ng-deep {
          path {
            fill: var(--text-secondary-color);
            ;
          }
        }

        &.tagIcon,
        &.answerIcon {
          height: 17px;
          width: 17px;
        }

        &.chart-icon {
          display: flex;
          cursor: pointer;

          &.highlight {
            color: var(--app-color);
          }
        }
      }

      .header {
        // font-weight: 500;
        font-size: 17px;
      }

      .time {
        margin-left: auto;
        font-size: 13px;
      }
    }


    .answer {
      color: var(--html-text-color);

      ::ng-deep p:first-child {
        margin-block-start: 0px;
      }
    }

    .tags {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      align-items: center;
      // margin-left: auto;
      margin-left: 40px;

      .tag {
        border: 2px solid #CFCFCF;
        color: #4D4D4D;
        border-radius: 2px;
        padding: 3px 9px;
        font-size: 12px;
        background: #F3F3EE;
      }
    }

    .copied {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: #8be78b;

      mat-icon {
        ::ng-deep path {
          fill: #8be78b;
        }
      }
    }


    .showSql {
      cursor: pointer;
      border: 1px solid var(--app-color);
      padding: 3px;
      font-size: 10px;
      border-radius: 5px;
      color: var(--app-color);


      &.highlight {
        background-color: var(--app-color);
        color: #fff;
        font-weight: normal;
      }
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
  }

}

.chartsView {
  .showBtn {
    display: flex;
    align-items: center;
    background: #F3F3EE;
    width: fit-content;
    padding: 2px 8px;
    gap: 3px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    height: 24px;

    mat-icon {
      width: 18px;
    }
  }

  .chartsList {
    display: flex;
    gap: 15px;

    .chart {
      width: 400px;
      height: 350px;
      border: 3px solid #EFEFEF;
      padding: 10px;
      border-radius: 12px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &.google {
        width: 80%;
      }

      // cursor: pointer;
      .errorChart {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .danger {
          color: red;
        }

        .retry {
          cursor: pointer;
          border: 1px solid var(--app-color);
          padding: 3px;
          font-size: 14px;
          border-radius: 5px;
          color: var(--app-color);
        }
      }

      img {
        /*  width: 100%;
        height: 100%; */
        cursor: pointer;
      }
    }
  }
}

.code-view {
  position: relative;

  .header {
    position: absolute;
    top: 0;
    padding: 10px;
    color: #FFFFFF;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-icon {
      cursor: pointer;
    }
  }
}

.answer-releated-insights {
  .title {
    color: var(--text-secondary-color);
    display: flex;
    gap: 10px;
    align-items: center;
    // font-weight: 500;
    font-size: 17px;
  }

  mat-icon {
    width: 17px;
    height: 17px;

    ::ng-deep {
      path {
        fill: var(--text-secondary-color);
        ;
      }
    }
  }

  .answer {
    color: var(--html-text-color);
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  // border-bottom: 1px solid #cccdce;
  padding-bottom: 15px;

  // margin-bottom: 25px;
  mat-icon {
    cursor: pointer;
    padding: 2px;
    width: 20px;
    height: 20px;

    &:hover {
      background-color: var(--side-menu-bg);
      border-radius: 5px;
    }

    &.filled {
      ::ng-deep path {
        fill: var(--app-color);
      }
    }
    
    &.th-icon {
      ::ng-deep path {
        fill: var(--icon-color-default);
      }
      ::ng-deep rect {
        fill: var(--icon-color-default);
      }
    }

    &.delete {
      ::ng-deep path:not(:last-child) {
        fill: var(--icon-color-default);
      }
      ::ng-deep path:last-child {
        stroke: var(--icon-color-default);
      }
    }


  }

  .share {
    flex: 1;
    display: flex;
    gap: 5px;

    span {
      cursor: pointer;
      display: flex;
      gap: 7px;
      padding: 5px;
      align-items: center;

      &:hover {
        background-color: var(--side-menu-bg);
        border-radius: 5px;
      }
    }
  }
}

.date {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .time {
    border: 2px solid #CFCFCF;
    color: #646464;
    padding: 6px 15px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;
  }

  mat-icon {
    height: 17px;
    width: 17px;
    line-height: 34px;
  }

  &::before,
  &::after {
    background-color: #CFCFCF;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    margin-left: -50%;
  }

  &::after {
    margin-right: -50%;
  }
}

.followup-container {
  position: absolute;
  bottom: 45px;
  left: 35px;
  width: calc(100% - 100px);
  background: var(--input-bg-color);
  border-radius: 50px;
  height: 50px;
  display: flex;
  gap: 15px;
  padding: 5px 10px;
  align-items: center;
  // cursor: move;
  z-index: 1;
  border: 3px solid var(--input-border-color);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);

  &:hover {
    background: var(--input-bg-color);
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    border-color: transparent;
  }

  /*  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  } */

  #followup {
    border: none;
    flex: 1;
    outline: none;
    font-size: 16px;
    // color: #716E6E;
    width: 100%;
    padding-left: 20px;
    background: var(--input-bg-color);
      color: var(--dark);
  }

  button {
    background-color: var(--input-btn-bg-color);
    box-shadow: none;

    .sendIcon {
      margin-top: 5px;
      margin-right: 5px;
    }

    //::ng-deep only changed the icon color otherwise we can't able to change the color
    &:disabled {
      ::ng-deep .sendIcon {
        path {
          fill: var(--input-disabled);
        }
      }
    }
  }

}


.related {
  // margin-top: 30px;
  // margin-bottom: 90px;
  // border-top: 1px solid #CFCFCF;
  padding-top: 20px;

  .header {
    display: flex;
    gap: 13px;
    align-items: center;
    ::ng-deep mat-icon {
      path {
        fill: var(--icon-color-secondary);
      }
    }
  }

  .question {
    cursor: pointer;
    padding: 10px 0px;
    border-bottom: 1px solid #cccdce;
    font-size: 13px;
    color: #868686;
    display: flex;
    align-items: center;

    span:first-child {
      flex: 1;
    }

    &:hover {
      color: var(--text-primary-color);
      // font-size: 15px;
    }
  }
}

::ng-deep table {
  margin-top: 1em;
  border-collapse: collapse;
  margin-bottom: 1em;

  // margin: 0 auto;
  th {

    background-color: var(--table-th-bgcolor);

    &.additional-column {
      background-color: var(--app-color);
      color: white;
    }

    font-weight: 500;
  }

  td,
  th {
    border: 1px solid var(--table-th-border);
    text-align: left;
    padding: 8px;
  }
}

pre[class*=language-] {
  min-height: auto;
  // min-height: 150px;
  max-height: 300px;
  border-radius: 12px;
  padding-top: 40px;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(247, 244, 244);
  }
}

/* tool tip color changes*/

::ng-deep .mdc-tooltip {
  font-size: 11px !important;

  .mdc-tooltip__surface {
    background: black !important;
  }
}